*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(45deg, #000,#000000e5), url(https://assets.nflxext.com/ffe/siteui/vlv3/47c2bc92-5a2a-4f33-8f91-4314e9e62ef1/web/BR-pt-20240916-TRIFECTA-perspective_c2bebe15-295b-4009-9a1c-893d9f501956_large.jpg);
}


header{
    background-image: linear-gradient(45deg, #000, #000000e5), url(https://assets.nflxext.com/ffe/siteui/vlv3/47c2bc92-5a2a-4f33-8f91-4314e9e62ef1/web/BR-pt-20240916-TRIFECTA-perspective_c2bebe15-295b-4009-9a1c-893d9f501956_large.jpg);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


header
.hd_navbar{
    height: 7vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 30px 0px 30px;
    animation:   hover-animation 1s ease-in-out ;
}
@keyframes hover-animation {
    0%{
        transform: translateY(-40px);
        opacity: 0;
    }
    100%{
    }
}




header .hd_navbar img{
    width:9%;
}

header .hd_navbar .hd_btn_entrar{
    width: 220px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

header .hd_navbar .hd_btn_entrar #selecaoidiomas{
    background-color: transparent;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: .8rem;
    width: 130px;
    height: 30px;
}


header .hd_navbar .hd_btn_entrar .hd_entrar{
    background-color: #e50912;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width:  60px;
    height: 30px;
    transition:  .6s;
    font-family: 'Segoe UI Variable Static Display', sans-serif;
    font-weight:700;
}

header .hd_navbar .hd_btn_entrar .hd_entrar:hover{
    background-color: #d8070e;
    color: rgb(228, 227, 227);
    transform: scale(1.1);
    transition: .5s;
}


.conteiner_sections{
    display: flex;
    width: 1200px;
    height: 250px;
    margin-top: 70px;
    gap: 50px;
}

.main_esquerda{
    color: white;
    font-family: 'Segoe UI Variable Static Display', sans-serif;
}

/*Esetilização conteiner lado esquerdo*/
.conteiner_sections .main_esquerda{
    width: 500px;
    height: 440px;
}


/*card principal em alta*/

.conteiner_sections .main_esquerda .serie-top1{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    animation: hover-card-top1 2s ease-in-out;
}
@keyframes hover-card-top1 {
    0%{
        transform: translate(22px);
        opacity: 0;
    }
    100%{
    }
}



.conteiner_sections .main_esquerda .serie-top1::after{
  content: "Top 1";
  color: #949494;
  position: absolute;
  top: -10%;
  font-size: 2rem;
  font-family: 'Segoe UI Variable Static Display', sans-serif;
  font-weight: 900;
}

.conteiner_sections .main_esquerda .serie-top1 img{
    width: 73%;
    box-shadow: 1px 1px 35px rgba(119, 115, 115, 0.26);
}
.conteiner_sections .main_esquerda .serie-top1 button{
    background-color: #e50912;
    position: absolute;
    top: 90%;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 130px;
    height: 30px;
    transition:  .6s;
}
.conteiner_sections .main_esquerda .serie-top1 button:hover{
    background-color: #d8070e;
    color: rgb(228, 227, 227);
    transform: scale(1.1);
    transition: .5s;
}
.conteiner_sections .main_esquerda .serie-top1 button a{
    color: white;
    text-decoration: none;
}



.conteiner_sections .main_direito{
    color: white;
    width:700px;
    height: 250px;
    font-family: 'Segoe UI Variable Static Display', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: hover-conteiner-direito 2s ease-in-out;
}
@keyframes hover-conteiner-direito {
    0%{
        transform: translate(-22px);
        opacity: 0;
    }
    100%{
    }
}

.conteiner_sections .main_direito article{
    font-size: 2.3rem;
    font-weight: 900;
    margin-bottom: 20px;
}

.conteiner_sections .main_direito h1{
    text-align: center;
    font-size: 1.5rem
}

.conteiner_sections .main_direito h1 span{
    color: #e50912;
    font-size: 1.5rem
}

.conteiner_sections .main_direito h2{
 font-size: 1rem;
 margin-top: 10px;
 text-align: center;
}

.conteiner_sections .main_emails{
    width: 500px;
    height: 40px;
    margin-top: 40px;
}

.conteiner_sections .main_emails input{
    width: 400px;
    height: 30px;
    border: none;
    background-color: transparent;
    border: 1px solid #919191;
    border-radius: 5px;
    padding-left: 10px;
    margin-right: 10px;
    outline: none;
    color: white;
}

.conteiner_sections .main_emails button{
    background-color: #e50912;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 70px;
    height: 30px;
    transition:  .6s;
}
.conteiner_sections .main_emails button:hover{
    color: rgb(228, 227, 227);
    transform: scale(1.1);
}


